version: "3.9"
services:
  web:
    container_name: web
    image: perporserot/nextjs-docker
    restart: unless-stopped
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - './:/app'
      - '/app/node_modules'
      - ./nginx.conf /etc/nginx/nginx.conf
    ports:
      - '3000:3000'
  
  pocketbase:
    container_name: pocketbase
    build: .
    image: augustodelg/pocketbase:latest
    volumes:
      - ./pocketbase-data:/pocketbase-data
      - ./nginx.conf /etc/nginx/nginx.conf
    restart: unless-stopped
    ports:
      - "8090:8090"

  nginx:
    depends_on:
      - web
      - pocketbase
    restart: unless-stopped
    build:
      dockerfile: Dockerfile
      context: ./nginx
    volumes:
      - ./templates:/etc/nginx/templates
      - ./nginx.conf:/etc/nginx/nginx.conf
    ports:
      - "80:80"
    environment:
      - NGINX_HOST=web.com
      - NGINX_PORT=80